@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Error"];
}

<h1 class="text-danger">@Localizer["error"]</h1>
<h2 class="text-danger">@Localizer["an_error_occurred_while_processing_your_request"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["request_ID"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["development_mode"]</h3>
<p>
    @Localizer["swapping_to_environment_will_display_more_detailed_information_about_the_error_that_occurred"]
</p>
<p>
    <strong>@Localizer["the_Development_environment_should_not_be_enabled_for_deployed_applications"]</strong>
    @Localizer["it_can_result_in_displaying_sensitive_information_from_exceptions_to_end_users"]
    @Localizer["for_local_debugging_enable_the_Development_environment_by_setting_the_environment_variable_to_restarting_the_app"]
</p>
