@{
	Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					@Localizer["about_us"]
				</h1>
				<p class="text-white link-nav">
					<a href="/">@Localizer["home"]</a><span class="lnr lnr-arrow-right"></span>
					<a href="#"> @Localizer["about_us"]</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start service Area -->
<section class="service-area section-gap" id="service">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8 pb-40 header-text">
				<h1>@Localizer["why_choose_us"]</h1>
				<p>
					@Localizer["who_are_in_extremely_love_with_eco_friendly_system"]
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-user"></span>@Localizer["expert_technicians"]</h4>
					<p>
						@Localizer["expert_technicians"]
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-license"></span>@Localizer["professional_service"]</h4>
					<p>
						@Localizer["professional_service_description"]
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-phone"></span>@Localizer["great_support"]</h4>
					<p>
						@Localizer["great_suport_description"]
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-rocket"></span>
						@Localizer["technical_skills"]
					</h4>
					<p>
						@Localizer["technical_skills_description"]
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-diamond"></span>
						@Localizer["highly_recomended"]
					</h4>
					<p>
						@Localizer["highly_recomended_description"]
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-bubble"></span>
						@Localizer["positive_reviews"]
					</h4>
					<p>
						@Localizer["positive_reviews_description"]
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End service Area -->
<!-- Start feature Area -->
<section class="feature-area">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 feat-img no-padding">
				<img src="~/assets/user/img/pages/f1.jpg" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">@Localizer["basic_common_repairs_1"]</h6>
				<h1>@Localizer["who_we_are"]</h1>
				<p>
					@Localizer["basic_common_repairs_1_description"]
				</p>
			</div>
			<div class="col-lg-3 feat-img no-padding">
				<img src="~/assets/user/img/pages/f2.jpg" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">@Localizer["basic_common_repairs_2"]</h6>
				<h1>@Localizer["what_we_do"]</h1>
				<p>
					@Localizer["basic_common_repairs_2_description"]
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End feature Area -->
<!-- Start team Area -->
<section class="team-area section-gap" id="team">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">@Localizer["experienced_mentor_team"]</h1>
					<p>@Localizer["who_are_in_extremely_love_with_eco_friendly_system"]</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center d-flex align-items-center">
			<div class="col-md-3 single-team">
				<div class="thumb">
					<img src="~/assets/user/img/pages/t3.jpg" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>@Localizer["abdujalil_chuliyev"]</h4>
					<p>@Localizer["team_leader"]</p>
				</div>
			</div>
			<div class="col-md-3 single-team">
				<div class="thumb">
					<img src="~/assets/user/img/pages/t1.jpg" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>
						@Localizer["tulganoy_abdunazarova"]
					</h4>
					<p>
						@Localizer["director"]
					</p>
				</div>
			</div>
			<div class="col-md-3 single-team">
				<div class="thumb">
					<img src="~/assets/user/img/pages/t2.jpg" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>@Localizer["ruzimurod_abdunazarov"]</h4>
					<p>@Localizer["main_programmer"]</p>
				</div>
			</div>
			<div class="col-md-3 single-team">
				<div class="thumb">
					<img src="~/assets/user/img/pages/t4.jpg" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>@Localizer["katerina_proxova"]</h4>
					<p>@Localizer["designer"]</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End team Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10 text-white">@Localizer["join_us_today_without_any_hesitation"]</h1>
					<p class="text-white">
						@Localizer["additional_text"]
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End calto-action Area -->