@{
	Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					@Localizer["pricing_plan"]
				</h1>
				<p class="text-white link-nav"><a href="/addrass_job_system/">@Localizer["home"] </a>
					<span class="lnr lnr-arrow-right"></span> <a href="#"> @Localizer["pricing_plan"]</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start price Area -->
<section class="price-area section-gap" id="price">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">@Localizer["choose_the_best_pricing_for_you"]</h1>
					<p>@Localizer["who_are_in_extremely_love_with_eco_friendly_system"]</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-price no-padding">
					<div class="price-top">
						<h4>@Localizer["real_basic"]</h4>
					</div>
					<ul class="lists">
						<li>@Localizer["real_basic_desc_1"]</li>
						<li>@Localizer["real_basic_desc_2"]</li>
						<li>@Localizer["real_basic_desc_3"]</li>
						<li>@Localizer["real_basic_desc_4"]</li>
					</ul>
					<div class="price-bottom">
						<div class="price-wrap d-flex flex-row justify-content-center">
							<span class="price">$</span>
							<h1> 39 </h1><span class="time">@Localizer["real_basic_price"]</span>
						</div>
						<a href="#" class="primary-btn header-btn">@Localizer["get_started"]</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-price no-padding">
					<div class="price-top">
						<h4>@Localizer["real_standart"]</h4>
					</div>
					<ul class="lists">
						<li>@Localizer["real_standart_desc_1"]</li>
						<li>@Localizer["real_standart_desc_2"]</li>
						<li>@Localizer["real_standart_desc_3"]</li>
						<li>@Localizer["real_standart_desc_4"]</li>
					</ul>
					<div class="price-bottom">
						<div class="price-wrap d-flex flex-row justify-content-center">
							<span class="price">$</span>
							<h1> 69 </h1><span class="time">@Localizer["real_standart_price"]</span>
						</div>
						<a href="#" class="primary-btn header-btn">@Localizer["get_started"]</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-price no-padding">
					<div class="price-top">
						<h4>@Localizer["real_advanced"]</h4>
					</div>
					<ul class="lists">
						<li>@Localizer["real_advanced_desc_1"]</li>
						<li>@Localizer["real_advanced_desc_2"]</li>
						<li>@Localizer["real_advanced_desc_3"]</li>
						<li>@Localizer["real_advanced_desc_4"]</li>
					</ul>
					<div class="price-bottom">
						<div class="price-wrap d-flex flex-row justify-content-center">
							<span class="price">$</span>
							<h1> 99 </h1><span class="time">@Localizer["real_advanced_price"]</span>
						</div>
						<a href="#" class="primary-btn header-btn">@Localizer["get_started"]</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End price Area -->
<!-- Start feature Area -->
<section class="feature-area">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 feat-img no-padding">
				<img src="~/assets/user/img/pages/f1.jpg" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">@Localizer["basic_common_repairs_1"]</h6>
				<h1>@Localizer["who_we_are"]</h1>
				<p>
					@Localizer["basic_common_repairs_1_description"]
				</p>
			</div>
			<div class="col-lg-3 feat-img no-padding">
				<img src="~/assets/user/img/pages/f2.jpg" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">@Localizer["basic_common_repairs_2"]</h6>
				<h1>@Localizer["what_we_do"]</h1>
				<p>
					@Localizer["basic_common_repairs_2_description"]
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End feature Area -->
<!-- Start submit Area -->
<section class="submit-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="submit-left">
					<h4>@Localizer["submit_your_resume_today"]</h4>
					<p>
						@Localizer["submit_your_resume_today_description"]
					</p>
					<a href="#" class="primary-btn header-btn">@Localizer["submit_your_cv"]</a>
				</div>
			</div>
			<div class="col-lg-6 ">
				<div class="submit-right">
					<h4>@Localizer["submit_new_job"]</h4>
					<p>
						@Localizer["submit_new_job_description"]
					</p>
					<a href="#" class="primary-btn header-btn">@Localizer["post_job"]</a>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End submit Area -->